body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;

}

.background {
  background-image: url(hula3.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(8px);
}

.container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(230,230,250, 0.4); /* Black w/opacity/see-through */
  color: darkblue;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}

.img-thumbnail { 
  height: 200px;
  width: 200px;
  border-radius: 50%!important;
}


.btn {
  position: relative;
  z-index: 2;
  padding: 20px 30px;
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 200px;
  border-color: purple;
}


.btn:hover {
  background-color: plum;
  border-color: purple;
}

.btn:active {
  background-color: rgb(17, 252, 194)!important;
  border-color: purple!important;
}
